/* 
  registration & authorization
*/
.registration__container,
.auth__container,
.recovery__container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration__form,
.auth__form,
.recovery__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration__title,
.auth__title,
.recovery__title {
  margin-bottom: 30px;
  color: var(--darkest-color);
}

.registration__input,
.auth__input,
.recovery__input {
  min-width: 400px;
  height: 40px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

.registration__label:not(:last-child),
.auth__label:not(:last-child),
.recovery__label:not(:last-child) {
  margin-bottom: 30px;
}

.registration__btn,
.auth__btn,
.recovery__btn-submit {
  margin-bottom: 30px;
  padding: 10px 40px;
  color: var(--white-color);
  background-color: var(--usual-color);
  border: 2px solid var(--darkest-color);
  border-radius: 5px;
}

.authorization__btn,
.recovery__btn {
  color: var(--usual-color);
}

.registration__result,
.recovery__result {
  margin-bottom: 10px;
}

.text-of-result {
  color: #FF4040;
}

/* 
  authorization
*/
.registration__link {
  margin-right: 50px;
}

.registration__btn-link,
.passowrd__recovery-btn {
  color: var(--usual-color);
}