.body {
    position: relative;
}

/* header */
.header {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--usual-color);
    color: var(--white-color);
}

.header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    margin-right: 50px;
}

.header__logout {
    color: var(--white-color);
    font-size: medium;
    font-weight: 500;
}

.header__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header__admin-panel,
.header__back,
.header__shared {
    margin-right: 20px;
    color: var(--white-color);
}

.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 450px;
    min-height: 396px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: left;
    padding: 12px 15px 30px 30px;
    background-color: #fff;
    transition: 0.3s all;
}

.modal_active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
    position: absolute;
    top: 15px;
    right: 15px;
    fill: #444;
    cursor: pointer;
}

.modal.activeModal,
.overlay.activeModal {
    opacity: 1;
    visibility: visible;
}

.modal-delete-dir,
.modal-delete-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 200px;
}

/* admin panel */
.admin__table {
    width: 100%;
    border-collapse: collapse;
}

.modal-update__id {
    color: #444;
    opacity: .7;
}

.table__th {
    font-size: 20px;
    color: var(--dark-color);
}

.table__body tr {
    border: 1px solid var(--bright-color);
}

.table__body tr td {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.admin__change-btn {
    color: var(--usual-color);
    margin-right: 20px;
    font-weight: 600;
}

.admin__delete-btn {
    color: #FF4040;
    font-weight: 600;
}

.modal__update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal__input {
    height: 30px;
    width: 350px;
    border: 1px solid var(--bright-color);
    border-radius: 5px;
}

.modal__label:not(:last-child) {
    margin-bottom: 15px;
}

.modal__title {
    color: var(--darkest-color);
}

.modal__confirm-btn {
    padding: 10px 30px;
    color: var(--white-color);
    background-color: var(--usual-color);
    border: 2px solid var(--darkest-color);
    border-radius: 5px;
}

.modal__label {
    display: flex;
    flex-direction: column;
    color: var(--bright-color);
}

.modal__delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
}

.modal__confirm-delete-btn {
    padding: 10px 30px;
    color: var(--white-color);
    background-color: var(--usual-color);
    border: 2px solid var(--darkest-color);
    border-radius: 5px;
}

.modal__errors {
    color: #FF4040;
}

.modal__message {
    color: #FF4040;
}

/* main */
.main__container {
    position: relative;
}

.main__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 100px;
    bottom: 25px;
}

.main__menu-btn {
    width: 60px;
    height: 60px;
    background-image: url('/media/plus.svg');
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image .3s ease;
}

.main__menu-btn.active {
    background-image: url('/media/minus.svg');
}

.main__list {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--white-color);
    border: 2px solid var(--bright-color);
    border-radius: 3px;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .3s ease;
}

.main__item {
    padding: 10px;
}

.main__item:not(:last-child) {
    border-bottom: 1px solid var(--bright-color) ;
}

.main__item:not(:first-child) {
    border-top: 1px solid var(--bright-color);
}

.main__btn-action {
    font-weight: 600;
    color: var(--dark-color);
}

.main__list.active {
    transform: scaleY(1);
}

/* modal create dir */
.modal-create-dir {
    min-height: 300px;
}

.modal-upload-file {
    min-height: 300px;
}

.modal-create-dir,
.modal-upload-file {
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-create-dir__title,
.modal-upload-file__title,
.modal-delete-dir__title,
.modal-rename-dir__title,
.modal-delete-file__title,
.modal-rename-file__title,
.modal-move-file__title,
.modal-share-file__title {
    color: var(--darkest-color);
}

.modal-create-dir__form,
.modal-upload-file__form,
.modal-rename-dir__form,
.modal-rename-file__form {
    display: flex;
    flex-direction: column;
}

.modal-create-dir__label,
.modal-rename-dir__label,
.modal-rename-file__label,
.share-container__label {
    width: 100%;
    color: var(--dark-color);
    margin-bottom: 40px;
}

.modal-create-dir__input,
.modal-rename-dir__input,
.modal-rename-file__input,
.share-container__input {
    margin-top: 10px;
    min-width: 400px;
    height: 40px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}

.modal-create-dir__form,
.modal-upload-file__form  {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.modal-create-dir__btn,
.modal-upload-file__btn,
.modal-delete-dir__sumbit,
.modal-rename-dir__btn,
.modal-delete-file__sumbit,
.modal-rename-file__btn,
.modal-move-file__btn,
.share-container__btn {
    padding: 10px 40px;
    color: var(--white-color);
    background-color: var(--usual-color);
    border: 2px solid var(--darkest-color);
    border-radius: 5px;
}

.modal-upload-file__wrapper {
    position: relative;
    margin-bottom: 40px;
}

.modal-upload-file__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.modal-upload-file__icon {
    width: 50px;
    height: 50px;
}

.modal-upload-file__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.modal-upload-file__select-btn {
    font-size: 20px;
    font-weight: 600;
}

.main__btn-back {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__btn-last-path {
    width: 40px;
    height: 40px;
    background-image: url('/media/arrow-back.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__btn-last-path.disabled {
    opacity: 0.5;
}

/* main list */
.main__btn-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.list__item {
    width: calc(100% / 8 - 40px);
    min-height: 70px;
    max-height: fit-content;
}

.list__item:not(:nth-child(8n)) {
    margin-right: 30px;
}

.dir__btn {
    width: 100%;
    height: 100px;
    background-image: url('/media/folder.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file__btn {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: url('/media/file.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file__btn-name {
    word-wrap: break-word;
}

.file__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file__container,
.dir__container {
    position: relative;
    text-align: center;
}

/* changing files/dirs */
.btns__div {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.change__container {
    position: relative;
}

.btn__change {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/media/dots.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.change__menu {
    position: absolute;
    top: 20px;
    left: -90px;
    width: 200px;
    height: 80px;
    background-color: var(--white-color);
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
}

.change__menu.active {
    transform: scaleY(1);
    opacity: 1;
}

.file-change__menu {
    height: 110px;
}

.change__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.change-menu__close {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('/media/cross.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.action__btn {
    font-weight: 600;
    color: var(--darkest-color);
}

/* modal rename dir */
.modal-rename-dir,
.modal-rename-file,
.modal-move-file,
.modal-share-file {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 250px;
}

.modal-move-file {
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
}

.modal-rename-dir__input {
    margin-bottom: 30px;
}

.modal-rename-dir__message,
.modal-delete-file__message,
.modal-create-dir__message,
.modal-move-file__message {
    margin-bottom: 20px;
}

.modal-rename-dir__title {
    margin-bottom: 15px;
}

.modal-rename-dir__form {
    align-items: center;
}

.modal-move-file__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-move-file__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.modal-move-file__title {
    margin-bottom: 20px;
}

.modal-move-file__list > label {
    margin-bottom: 10px;
    font-size: 19px;
    cursor: pointer;
}

/* modal share file */
.modal-share-file {
    max-width: 700px;
    min-height: 350px;
}

.modal-share-file__title,
.modal-share-file__message {
    margin-bottom: 15px;
}

.share-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.share-container__left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.share-container__right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.share-container__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: 70%;
    height: 100%;
}

.share-container__list > li:not(:last-child) {
    margin-bottom: 10px;
}

.share-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.share-container__descr {
    font-size: 18px;
    color: var(--darkest-color);
}

.share-container__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.share-container__delete-btn {
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    background-image: url('/media/share-cross.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}